doctype html
html
  body(style='margin: 0;padding: 2em;font-family: Arial;font-size: 1.2em;background-color: #eee;color: #444')
    table(cellspacing="0" cellpadding="0" style='width: 500px; border: 0; margin-left: auto; margin-right: auto')
      tr(style='background-color: #222;')
        td(width='63px')
          img(src='https://metadatabase.os2geo.dk/icon.png' style='display: block; width: 63px')
        td(align='center' style='color: #fff') METADATABASE
      tr(style='background-color: #fff')
        td(colspan=2 style='padding: 1.5em')
          h1(style='font-size: 1.5em;') Hi, #{name}
          p Your password was just reset.
          p(style='color: grey;font-size: 0.9em;text-align: center;margin-bottom: 0;margin-top: 2em;') If you didn't request this change please
          p(style='color: grey;font-size: 0.9em;text-align: center;margin-bottom: 0;')
            a(href='mailto:' + returnEmail + '?subject=I did not reset my password&body=Someone unauthorized sent this reset password request.', style='color: #2980B9;') let us know
    p(style='text-align: center;margin-top: 2em;')
      a(href='https://metadatabase.os2geo.dk' style='color: grey;font-size: 0.9em;text-align: center;margin-bottom: 0;margin-top: 2em;text-decoration: none') metadatabase.os2geo.dk

